<table class="ui celled table">
  <thead>
    <tr>
      <th>First</th>
      <th>Last</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Gender</th>
      <th>Make</th>
      <th>Model</th>
      <th>Year</th>
      <th>Cost Price</th>
      <th>Sale Markup</th>
    </tr>
  </thead>
  <tbody>
    <% @all_sales.each do |sale| %>
      <tr>
        <td> <%= sale.name %> </td>
        <td> <%= sale.email %> </td>
        <td> <a href="/sales/delete/<%= sale.id %>" class="ui primary button"> DELETE </a> </td>
      </tr>
    <% end %>

  </tbody>
</table>