<table class="ui celled table">
  <thead>
    <tr>
      <th>First</th>
      <th>Last</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Gender</th>
      <th>Make</th>
      <th>Model</th>
      <th>Year</th>
      <th>Cost Price</th>
      <th>Sale Markup</th>
    </tr>
  </thead>
  <tbody>
    <% @all_user.each do |user| %>
      <tr>
        <td> <%= user.name %> </td>
        <td> <%= user.email %> </td>
        <td> <a href='/user/delete/<%= user.id %>' class="ui primary button"> DELETE </a> </td>
        readblog
      </tr>
    <% end %>

  </tbody>
</table>