<br><br>
<div id="homepage_content">
    <div id="homepage_left_layout">
        <div id="article_date">
            <div style="background-color:red; height:50%;"><h2 id="date_day">25</h2><br><h3 id="date_month">
            <a href="/user/post" style="width:100%; height:100%">Feb</a></span></h3></div>
        </div>
        <p id="article_description">This is this articles short description, Have you ever thought about becoming a software developer or looking for a change of career? This article will give you a solid plan to get you started</p>
        <div id="reading_status">
            <div id="read_button"><i class="fa fa-play-circle" style="font-size:68px;color:dodgerblue"></i></div>
            <h5 id="reading_minute">25 minutes read</h5>
            <div id="just_a_line">
            </div>
        </div>
    </div>
    <h1 id="article_title">This is the title of this article:</br>
        You should check it out</h1>
    <img id="homepage_right_layout" src="https://images.unsplash.com/photo-1533049949835-4716d79938e3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
</div>