<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Rumblr</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/main.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>


    <div class="ui container">
      <h1>Crafted</h1>
      <br>
      <% if @user %>
      <div id="up_big_blog_div">
        <div id="up_blog_div_one">
            <a href="/" class="ui primary button showThem">Home</a>
            <a href="/readblog" class="ui primary button showThem">View All Blogs</a>
            <a href="/user/post" class="ui primary button showThem">Post</a>
            <a href="/logout" class="ui primary button showThem">Logout</a>
            <br><br>
            <h5>HI <%= @user.name %></h5>
        </div>
        <div id ="up_blog_div_two"></div>
      </div>
        <% else %>
        <div id="down_big_blog_div">
            <div id="down_blog_div_one">
                <a href="/login" class="ui primary button showThem">Login</a>
                <a href="/signup" class="ui primary button showThem">Sign Up</a>
            </div>
            <div id ="down_blog_div_two"></div>
        </div>
      <% end %>
      <br>
      <br>
    </div>

    <div id="reveal">
        <%= yield %>
      </div>


  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
  <script src="/main.js"></script>
</body>
</html>
