<% if @blog_instance %>
  <% for posts in @blog_instance do %>
    <h3 id="userName"><%= posts.user.name %></h3>
    <div id="my_blog">
      <img id="my_image" src="<%= posts.image %>">
      <p id="my_blog_paragraph" ><%= posts.my_post%></p>
    </div>
  <% end %>
<% end %>
