<% if @blog_instance %>
  <% for post in @blog_instance do %>
    <h3 id="userName"><%= post.user.name %></h3>
    <div id="my_blog">
      <img id="my_image" src="<%= post.image %>">
      <p id="my_blog_paragraph" ><%= post.my_post%></p>
    </div>
  <% end %>
<% end %>
