<form class="ui form" method="POST" action="/user/post">
  <h2>Starts Creating Your Blog</h2>
  <div class="field">
    <textarea id="user_blog_paragraph"required type="text" name="paragraph" cols="50" rows="10"></textarea>
  </div>


    <div class="field">
      <label>Add Image Url</label>
      <input required type="text" name="image">

    <div class="field">
      <label>User Name</label>
      <input required type="text" name="user_name" placeholder="User Name">
    </div>
  </div>


  <button class="ui button" type="submit">Save</button>
</form>
